main{
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    z-index: 1;
    flex: 1;
    overflow: auto;
}

/* p{
    margin-top: 10px;
    font-size: 20px;
}

.vid-a{
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: var(--accent);
}

#vid{
    display: none;
    position: absolute;
    z-index: 2;
    top: 273px;

}

#video{
    height: 120px;
    width: 120px;
    border-radius: 12px;

}

#F{
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 2;
}




li{
    list-style-position: inside;
    position: relative;
    margin: 10px;
    font-size: 20px;
}
ol{
    position: relative;
    z-index: 1;
} */
.letter{
    height: 100%;
    display: flex;
    position: relative;

    width: 95%;
    gap: 5%;
    margin-left: 8px;

    *{
        position: relative;
        z-index: 1;
    }
}

a{
    text-decoration: none;
}

nav{
    width: 30%;

    height: 50%;
    display: flex;

    position: sticky;
    top: 8px;
    flex-direction: column;
    padding: 8px;
    gap: 8px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 20px rgba(0, 247, 255, 0.3);
}


