.btn-stage:nth-child(1){
    color: var(--secondary);
    box-shadow: 0 0 50px rgba(255, 0, 217, 0.3),
        0 0 40px rgba(255, 0, 217, 0.3) inset;
}

p{
    font-size: 20px;
}

.letter{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.var-2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.var-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

