main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
    *{
        font-size: 30px;
    }
}

.box{
    *{
        margin: 10px;
    }
}

h1{
    margin-top: 10px;
}

a{
    color: var(--accent);
    cursor: pointer;
    text-decoration: none;
}

.copied{
    color: var(--text);
    /* visibility: hidden; */
    opacity: 0;

}